{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}OP Pipelines{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web application to streamline running and managing OpenPecha's data pipelines">
    <meta name="author" content="Tenzin">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    <div class="mt-5">
      <div>
        <div class="display-4 text-center">Under Maintenance</div>
        <div class="text-center text-muted">Pecha Tools is currently down for maintenance. Be right back!</div>
      </div>

      <div class="text-center" style="margin: -100px">
        <img src="{% static 'images/illustrations/maintenance-mode.svg' %}" alt="site is under maintenance mode illustration">
      </div>
    </div>
  </body>
</html>
