<table class="table table-hover table-light">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Started</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for batch in batch_tasks %}
        <tr>
            <td>{{ batch.name }}</td>
            <td>{{ batch.started_on }}</td>
            <td class="text-end">
                <a class="btn btn-outline-info btn-sm fw-light" href="{% url 'pipelines:batch_detail' batch.id %}">Details</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
