{% extends 'base.html' %}

{% block title  %}Task Detail{% endblock  %}

{% block content %}

<h3 class="mt-3">Task <span class="fst-italic fw-light">{{ task.input }}</span> Detail</h3>

<div class="mt-5">
    <div class="row py-3 border-bottom">
        <div class="col-2 text-muted">Id</div>
        <div class="col">{{ task.id }}</div>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-2 text-muted">Batch</div>
        <div class="col">{{ task.batch.name }}</div>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-2 text-muted">Celery Task</div>
        <div class="col">{{ task.celery_task_id }} </div>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-2 text-muted">Status</div>
        <div class="col">
            {% if task.get_status_display == 'Success' %}
                <span class="badge bg-success">{{ task.get_status_display }}</span>
            {% elif task.get_status_display == 'Running' %}
                <span class="badge bg-warning">{{ task.get_status_display }}</span>
            {% elif task.get_status_display == 'Failure' %}
                <span class="badge bg-danger">{{ task.get_status_display }}</span>
            {% endif %}
        </div>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-2 text-muted">Started</div>
        <div class="col">{{ task.started_on }}</div>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-2 text-muted">Completed</div>
        <div class="col">
            {% if task.completed_on %}
                {{ task.completed_on }}
            {% else %}
                <span>-</span>
            {% endif %}
        </div>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-2 text-muted">Input</div>
        <div class="col">{{ task.input }}</div>
    </div>
    <div class="row py-3 border-bottom">
        <div class="col-2 text-muted">Result</div>
        <div class="col">
            {% if task.result %}
                {{ task.result }}
            {% else %}
                <span>-</span>
            {% endif %}
        </div>
    </div>
    <div class="row py-3">
        <div class="col-2 text-muted">Error</div>
        <div class="col">{{ task.error|linebreaks }}</div>
    </div>
</div>

{% endblock %}
